@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #0f2043;
}

.navbar {
  display: flex;
  padding: 0 10px;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar input#menu-toggler {
  display: none;
}

.navbar #hamburger-btn {
  cursor: pointer;
  display: none;
}

.navbar .all-links {
  display: flex;
  align-items: center;
}

.navbar .all-links li {
  position: relative;
  list-style: none;
}

.navbar .logo a {
  display: flex;
  align-items: center;
  margin-left: 0;
}

header a, footer a {
  margin-left: 40px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 20px 0;
  display: inline-block;
}

header a:hover, footer a:hover {
  color: #ddd;
}

@media screen and (max-width: 768px) {
  body {
    background: #8AAAE5; 
    color: #FFFFFF; 
  }

  
  header {
    background: #8AAAE5;
  }

  .navbar a {
    color: #FFFFFF;
  }

}

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("images/home-bg.jpg");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .homepage {
    background: url("images/homem-bg.jpg"); 
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }
}

.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage .content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .content .text {
  margin-bottom: 50px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content a {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.content a:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
}

section h2 {
  font-size: 2rem;
}

section > p {
  text-align: center;
}

section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 50px;
  padding: 0 10px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  header {
    background: #8AAAE5;
  }

  .homepage .content h1 {
    font-size: 36px;
  }

  .homepage .content .text {
    font-size: 14px;
    
  }
}

#about {
  padding: 80px 0;
  background: url('img/hero-image.jpg') center/cover;
}

.heading h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.about-us {
  display: flex;
  flex-wrap: wrap-reverse; 
  justify-content: space-between;
  align-items: center;
}

.about-content {
  flex: 1;
  max-width: 600px;
  padding-right: 20px;
}

.about-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.9;
  padding: 10px;
  overflow-wrap: break-word;
}


.image {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.image img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image:hover img{
  transform: scale(0.95);
}

@media screen and (min-width: 769px) {
  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .image:hover .desktop-image{
    transform: scale(0.95);
  }
}

@media screen and (max-width: 768px){
  .about-us {
    flex-direction: column;
    align-items: center;
  }

  .about-content,
  .image {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .image {
    max-width: 75%;
    margin-top: 0;
  }

  .about-content {
    padding: 0;
  }

  .image img {
    max-height: 100%;
  }
  .desktop-image{
    display: none;
  }
  .image img.mobile-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .image:hover img.mobile-image {
    transform: scale(0.95);
  }

}


@media screen and (max-width: 860px) {
  .navbar .all-links {
    position: fixed;
    left: -100%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 75px;
    background: #0f2043;
    transition: left 0.3s ease;
  }

  .navbar #menu-toggler:checked~.all-links {
    left: 0;
  }

  .navbar .all-links li {
    font-size: 18px;
  }

  .navbar #hamburger-btn {
    display: block;
  }

  section > p {
    text-align: center;
  }

  section .cards .card {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
  }

  .homepage .content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homepage .content .text {
    font-size: 17px;
  }

  .content a {
    font-size: 17px;
    padding: 9px 20px;
  }

  .contact .row {
    flex-direction: column;
  }

  .contact .row .col {
    width: 100%;
  }

  .contact .row .col:last-child {
    margin-top: 40px;
  }

  footer a {
    height: 0;
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
  }
}

 /*sections stats*/
 .grp-container{
  position: relative;
  max-width: 1500px;
  width: 100%;
  background: #fff;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 90px;
}
.grp-container .grp-box{
  width: 100%;
  margin: 50px 0;
}
.grp-box .title-grp{
  display: block;
  font-size: 25px;
  font-weight: 600;
  color: #0f2043;
}
.grp-box .grp-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}
.grp-bar .grp-per{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background: #FDDB5B;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}
.grp-per.html{
  width: 98%;
  animation-delay: 0.1s;
}
.grp-per.di{
  width: 100%;
  animation-delay: 0.1s;
}
.grp-per.cr{
  width: 99%;
  animation-delay: 0.1s;
}
.grp-per.fb{
  width: 95%;
  animation-delay: 0.3s;
}
@keyframes progress {
  0%{
      width: 0;
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}
.grp-per .tooltip{
  position: absolute;
  right: -14px;
  top: -40px;
  font-size: 15px;
  font-weight: 350;
  color: #FDDB5B;
  padding: 2px 6px;
  border-radius: 3px;
  background: #0f2043;
  z-index: 1;
}
.tooltip::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #0f2043;
  transform: translateX(-50%) rotate(45deg);
}

@media screen and (max-width: 880px) {
  .grp-container{
  position: relative;
  max-width: 1500px;
  width: 100%;
  background: #8AAAE5;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 90px;
  }
  .grp-box .title-grp{
  color: #ffffff;
}
  .grp-bar .grp-per {
    background: #ffffff; 
  }

  .grp-per.html {
    width: 98%; 
    animation-delay: 0.1s;
    color: ;
  }

  .grp-per.di {
    width: 100%; 
    animation-delay: 0.1s;
  }

  .grp-per.cr {
    width: 99%; 
    animation-delay: 0.1s;
  }

  .grp-per.fb {
    width: 95%; 
    animation-delay: 0.3s;
  }

  .grp-per .tooltip {
    color: #8AAAE5; 
    background: #fff; 
  }

  .tooltip::before {
    background-color: #fff; 
  }
}
/*stats end*/

/* Vision mission */
.vm {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('img/hero-image.jpg') center/cover;
}


.wrapper{
  width: 1170px;
  margin: 5% auto;
}

.wrapper h2{
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: #0f2043;
  margin: 0;
}

.vision-mission{
  position: relative;
  width: 45% ;
  height: 320px;
  background: #0f2043;
  box-sizing: border-box;
  padding: 0 15px;
  transition: .7s;
  overflow: hidden;
  float: left;
  margin: 0 10px;
  text-align: center;

}

.line{
  width: 400px;
  height:  3px;
  background:#FDDB5B ;
  margin: 0 auto 60px auto; 
}

.vision-mission p{
  color: white;
  font-size: 20px;
  padding-top: 30px;

}

.vision-mission h3{
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0px 0 0px 0;
  color: #FDDB5B;
}
.social{
  width:  30px;
  height: 30px;
  background: gray;
  border-radius: 50%;
  margin: 5% auto;
}


.vision-mission span{
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: .4;
  transition: .8;
  transform: skew(10deg);

}

.vision-mission:hover span{
  left: 5%;
}

/*Vision mission media*/
@media (max-width: 600px) {

    .vm{
      background: #FFFFFF;
    }
    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vision-mission {
        width: 95%;
        margin: 0 auto 30px;
        float: none; 
        background: #8AAAE5;
    }

    .vision-mission h3 {
        color: #FFFFFF; 
    }

    .vision-mission p {
        color: #FFFFFF; 
        font-size: 18px; 
    }

    .line {
        background: transparent; 
    }

    .wrapper h2 {
        font-size: 30px;
        color: #0f2043;
    }

    .vision-mission span {
        left: 5%;
        opacity: 0;
        pointer-events: none;
    }

    .vision-mission:hover span {
        left: -110%;
    }
}


/*Why Choose Us Css */
.choose-us{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.choose-us .main .DV{
  width: 580px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
  border-radius: 40px;
}
.choose-us .main .MV {
  display: none; 
}
.cu-text{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
   
}
.main{
  width: 1290px;
  max-width: 95%;
  margin: 15% auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.cu-text h4{
  font-size: 18px;
  color: #111111;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}
.cu-text h1{
  font-size: 65px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 20px;
}
.cu-text p{
  font-size: 16px;
  color: #111111;
  line-height: 30px;
  margin-bottom: 35px;
}
.btn button{
  background: white;
  padding: 20px 32px;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  border: none;
  outline: none;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
  margin-right: 20px;
  
}
.btn button:hover{
  background-color: #0f2043;
  color: white;
  transition: .3s;
  cursor: pointer;
}

/* Styles for Services Section */
.services-section {
  height: auto;
  width: 100%;
  display: grid;
  place-items: center;
}

.services-row {
  display: flex;
  flex-wrap: wrap;
}

.service-column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.section-heading 
{
color: #0f2043;
font-size: 40px;
padding: 0 10px 21px;
}

.service-card {
  border: 3px solid #b8c6db;
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #0f2043 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.5s;
}

.service-card:hover {
  background-position-y: 100%;
}

.service-card img {
  width: 20%; 
  height: auto; 
  border-radius: 5px;
}

.service-card:hover h3 {
  color: #b8c6db;
}

.service-card:hover p {
  color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  .services-section {
      padding: 0 2em;
  }
  .service-column {
      flex: 0 50%;
      max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .services-section {
      padding: 1em 3em;
  }
  .service-column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
  }
}
@media screen and (max-width: 767px) {
  .section-heading {
    color: #ffffff;
  }
  .service-card h3 {
    color: #ffffff;
  }
  .service-card p {
    color: #ffffff; 
  }
  .service-card {
    background: #8AAAE5;
  }
  .service-card:hover h3 {
    color: #111111;
  }
}

/*  Our Team css */
.team{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  }
  .team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns:repeat(auto-fit, minmax(200px, auto)); 
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
  }
  .team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
  }

.center h1 {
	color: #111111;
	font-size: 65px;
	letter-spacing: 2px;
  margin-top: -50;
  }
.center p{
	font-size: 16px;
	color: #111111;
	line-height: 30px;
	margin-bottom: -10px;
  width: 950px;
}
  .box{
	padding: 17px;
	background: #141d31;
	border-radius: 15px;
	transition: all .38s ease;
  }
  .box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
  }
  .box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
  }

  .team-content img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	margin-bottom: 15px;
	transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .team-content img:hover {
	transform: scale(1.05); 
	box-shadow: 0px 10px 20px rgba(156, 245, 201, 0.418); 
  }

  .box:hover{
	transform: translateY(-10px);
	cursor: pointer;
  }
  /* Frequently Asked Questions */
.faq-container
{
	/*background: url('img/hero-image.jpg') center/cover; */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.faq-container h1
{
	color: #0f2043;
	font-size: 40px;
	padding: 0 10px 21px;
}
@media (max-width: 768px) {
    .faq-container h1 {
        font-size: 32px;
        padding: 0 10px 15px;
    }
}
@media (max-width: 480px) {
    .faq-container h1 {
        font-size: 24px;
        padding: 0 10px 10px;
    }
}
.faq-tab
{
	
	position: relative;
	background-color: #b8c6db;
	padding: 0 20px 20px;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	overflow: hidden;
	max-width: 80%;
	font-size: 1em;
	margin-right: 5px;
	margin: 0 auto;
}
@media (max-width: 768px) {
	.faq-tab {
        width: 90%; 
        padding: 0 5px 5px; 
    }
}
@media (max-width: 480px) {
    .faq-tab {
        width: 95%; 
        padding: 0 5px 5px;
    }
}
.faq-tab input
{
	appearance: none;
	
}
.faq-tab label
{
	display: flex;
	align-items: center;
	cursor: pointer;
	
} 
.faq-tab label::after
{
	content: '+';
	position: absolute;
	right: 10px;
	font-size: 1.5em;
	color: rgba(0, 0, 0, 0.1);
	transition: transform 1s;
}
.faq-tab:hover label::after
{
	color: #FDDB5B;
}
.faq-tab input:checked ~ label::after
{
	transform: rotate(135deg);
	color: #fff;

}
.faq-tab label h2
{
	width: 40px;
	height: 40px;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.25em;
	border-radius: 5px;
	margin-right: 10px;
	min-width: 40px;
}
.faq-tab input:checked ~ label h2
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: rgba(255, 255 ,255, 0.2);
	font-size: 8em;
	justify-content: flex-end;
	padding: 20px;

}

.faq-tab:nth-child(2) label h2
{
	background: #0f2043;
}
.faq-tab:nth-child(3) label h2
{
	background: #0f2043;
}
.faq-tab:nth-child(4) label h2
{
	background: #0f2043;
}
.faq-tab:nth-child(5) label h2
{
	background: #0f2043;
}

.faq-tab label h3
{
	position: relative;
	font-weight: 500;
	color: #fff;
	z-index: 10;
	font-weight: bold;
}
.faq-tab input:checked ~ label h3
{
	padding: 2px 10px;
	color: #fff;
	border-radius: 2px;
	box-shadow: 0 5px rgba(0, 0, 0, 0.05);
	
}
.faq-content
{
  opacity: 0;
	max-height: 0;
	transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;;
	overflow: hidden;	
}
.faq-tab input:checked ~ .faq-content
{
	max-height: 100%;
  opacity: 1;
}
.faq-tab .faq-content p
{
	position: relative;
	padding: 10px 0;
	color: #0f2043;
	z-index: 10;
}
.faq-tab input:checked ~ .faq-content p
{
	color: #fff;
  margin-bottom: 1rem;
}
.faq-tab .faq-content p:last-child {
  margin-bottom: 0; 
}

/*contact us*/
.contact-container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-container:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("images/contact.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}
.contact-box{
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.ct-left{
  background: url("images/contact.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.ct-right{
  padding: 25px 40px;
}

h6{
  font-size: 1.1rem;
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h6:after{
  content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #0f2043;
}

.ct-field{
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.ct-field:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

textarea{
  min-height: 150px;
}

.contact-btn{
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #0f2043;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.contact-btn:hover{
    background-color: #27ae60;
}

.ct-field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .ct-left{
    height: 200px;
  }
}
/* Mobile Color Mode */
@media screen and (max-width: 880px) {

  .contact-container:after {
    background: url("images/contact-m.jpg") no-repeat center; /* Change the background image for mobile */
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }

  h6{
  color: #8AAAE5;
  font-size: 1.1rem;
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  }

  h6:after {
    background-color: #8AAAE5; 
  }

  .ct-field {
    background-color: rgba(138, 170, 229, 0.8); 
  }

  .contact-btn {
    background-color: #8AAAE5; 
  }

  .ct-field:focus {
    border: 2px solid rgba(138, 170, 229, 0.8); 
    background-color: #fff; 
  }
}
/*contact us end */

  

/* footer css */
.footer {
  background: #0f2043;
  padding-top: 10px;
  color: white;
  text-align: center;
}

.footerbottom {
  position: relative;
  background: #0f2043;
  padding: 20px 0;
  text-align: center; 
  margin-right: 0; 
}

.footerbottom p {
  color: white;
  font-size: 14px;
  word-spacing: 3px;
  line-height: 1.5;
  font-weight: 1000;
}

.footerbottom span {
  display: block;
  margin-top: 10px;
  color: white;
  opacity: 0.5;
  font-weight: 200;
}

/* footer media */
@media (max-width: 768px) {

  .footer{
    background: #8AAAE5; 
  }

  .footerbottom {
    background: #8AAAE5; 
  }
  .footerbottom p {
    font-size: 12px;
    word-spacing: 2px;
  }

  .footerbottom span {
    font-size: 12px;
  }
}



/*Contact Us*/





/* Why Us media */
@media screen  and (max-width:1250px){
  .choose-us{
    width: 100%;
    height: auto;
    padding: 60px 0;
  }
  .cu-text{
    text-align: center;
    margin-top: 40px;
  }
  }
  @media screen  and (max-width:768px){
  .choose-us .main .DV{
    display: none;
  }
  .choose-us .main .MV{
    display: block; 
    border-radius: 20px;
    margin-bottom: 35px;
  }
  .cu-text h1{
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFFFFF;
  }
  .cu-text h4{
    color: #FFFFFF;
  }
  .cu-text p{
    color: #FFFFFF;
  }

  }
   /* Our Team media */
   @media (max-width: 768px) {
    .team {
      width: 100%;
      height: auto;
      padding: 90px 2%;
    }
    .center h1 {
      font-size: 3.2rem;
      color: #FFFFFF;
    }
    .center p {
      width: auto; 
      color: #FFFFFF;
    }
    .box{
      background: #FFFFFF;
    }
    .box h3{
      color: #8AAAE5;
      }
  }
@media screen and (max-width: 860px) {
  section .cards .card {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 560px) {
  section .cards .card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  section .cards .card {
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
  }

  section .cards .card h3 {
    font-size: 18px;
  }

  section .cards .card p {
    font-size: 16px;
  }
}
